<div class="location-card card">
  <!-- Card Header with Title and Action Buttons -->
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2 class="fs-4 mb-0">{{ location().name }}</h2>
    <div class="action-buttons d-flex gap-2">
      <button
        class="btn btn-sm rounded-circle edit-button"
        (click)="onEditClick()"
        aria-label="Edit location"
      >
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button
        class="btn btn-sm rounded-circle delete-button"
        (click)="onDeleteClick()"
        aria-label="Delete location"
      >
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>

  <!-- Card Body -->
  <div class="card-body">
    <!-- Input Resources Section -->
    <div class="input-section mb-4">
      <h3 class="section-title">INPUT</h3>

      <div class="resource-list">
        @for (record of consumption(); track record.resource.className) {
        <div
          class="resource-item d-flex align-items-center justify-content-between mb-2"
        >
          <div class="d-flex align-items-center">
            <img
              [src]="getResourceIconUrl(record.resource)"
              [alt]="getResourceName(record.resource)"
              class="resource-icon me-2"
              width="32"
              height="32"
            />
            <span class="resource-name"
              >{{ getResourceName(record.resource) }}</span
            >
          </div>
          <div>
            <span class="resource-amount">{{ record.amount }}</span>
            <span class="resource-amount-inmin">&nbsp;/&nbsp;min</span>
          </div>
        </div>
        }
      </div>

      <hr class="my-3" />
    </div>

    <!-- Production Resources Section -->
    <div class="production-section">
      <h3 class="section-title">PRODUCTION</h3>

      <div class="resource-list">
        @for (record of production(); track record.resource.className) {
        <!-- <div
          class="resource-item d-flex align-items-center justify-content-between mb-2"
        >
          <div class="d-flex align-items-center">
            <img
              [src]="getResourceIconUrl(record.resource)"
              [alt]="getResourceName(record.resource)"
              class="resource-icon me-2"
              width="32"
              height="32"
            />
            <span class="resource-name"
              >{{ getResourceName(record.resource) }}</span
            >
          </div>
          <span class="resource-amount">{{ record.amount }} /min - Consumption {{ record.consumption }} /min</span>
        </div> -->
        <scs-prodaction-statistics [productionRecord]="record"></scs-prodaction-statistics>
        }
      </div>
    </div>
  </div>
</div>
