<div
  class="offcanvas offcanvas-end"
  data-bs-backdrop="static"
  tabindex="-1"
  id="editLocationOffcanvas"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Edit location</h5>
    <button
      type="button"
      class="btn-close"
      (click)="closeOffcanvas()"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    @if (locationService.editableLocation()) {
      Location: {{ locationService.editableLocation()?.name }}
      <button
        type="button"
        (click)="saveLocation()"
        aria-label="Save"
      >Save</button>
    } @else {
      <p>Nothing to edit.</p>
    }
  </div>
</div>
